dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
tex/*
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
*.lock
*.pem
swagger.json
settings.dhall
.stack-work/
/static/attaches
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.vscode/settings.json
.hlint.yaml
.ghci
settings.dhall
all_logs/*
config.dhall
